
{{#each artistData}}
  {{!-- {{#each images}}
    {{#if @first}}
      <img src="{{ url }}"/>
    {{/if}}
  {{/each}}
  <h3>{{ name }}</h3> --}}
  {{> info}}
  <a href="/albums/{{id}}">View Albums</a>
  <br />
{{/each}}